/* 
  ┌─────────────────────────────────────────────────────────────────────────┐
  │ animations                                                              │
  └─────────────────────────────────────────────────────────────────────────┘
 */

@-webkit-keyframes autofill {
  0%,100% {
    background: transparent;
    color: #666;
  }
}
@keyframes autofill {
    0%,100% {
      background: transparent;
      color: #666;
    }
}

@-webkit-keyframes avatar-cyclone {
  from {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
  90% {
    -webkit-transform: rotate(0) scale(0.80);
    transform: rotate(0) scale(0.80);
  }
  92% {
    -webkit-transform: rotate(0) scale(0.85);
    transform: rotate(0) scale(0.85);
  }
  95% {
    -webkit-transform: rotate(0) scale(0.83);
    transform: rotate(0) scale(0.83);
  }
  to {
    -webkit-transform: rotate(0) scale(0.95);
    transform: rotate(0) scale(0.95);
  }
}
@keyframes avatar-cyclone {
  from {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
  90% {
    -webkit-transform: rotate(0) scale(0.80);
    transform: rotate(0) scale(0.80);
  }
  92% {
    -webkit-transform: rotate(0) scale(0.85);
    transform: rotate(0) scale(0.85);
  }
  95% {
    -webkit-transform: rotate(0) scale(0.83);
    transform: rotate(0) scale(0.83);
  }
  to {
    -webkit-transform: rotate(0) scale(0.95);
    transform: rotate(0) scale(0.95);
  }
}

@-webkit-keyframes avatar-cyclone-active {
  from {
    -webkit-transform: rotate(0) scale(0.95);
    transform: rotate(0) scale(0.95);
  }
  50% {
    -webkit-transform: rotate(0) scale(0.5);
    transform: rotate(0) scale(0.5);
  }
  to {
    -webkit-transform: rotate(1080deg) scale(1); 
    transform: rotate(1080deg) scale(1); 
  }
}
@keyframes avatar-cyclone-active {
  from {
    -webkit-transform: rotate(0) scale(0.95);
    transform: rotate(0) scale(0.95);
  }
  50% {
    -webkit-transform: rotate(0) scale(0.5);
    transform: rotate(0) scale(0.5);
  }
  to {
    -webkit-transform: rotate(1080deg) scale(1); 
    transform: rotate(1080deg) scale(1); 
  }
}

@-webkit-keyframes cloud {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  70% {
    -webkit-transform: scale(1.2) translateX(2px);
    transform: scale(1.2) translateX(2px);
  }
  to {
    -webkit-transform: scale(1.3) translateX(3px);
    transform: scale(1.3) translateX(3px);
  }
}
@keyframes cloud {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  70% {
    -webkit-transform: scale(1.2) translateX(2px);
    transform: scale(1.2) translateX(2px);
  }
  to {
    -webkit-transform: scale(1.3) translateX(3px);
    transform: scale(1.3) translateX(3px);
  }
}

@-webkit-keyframes cyclone-infinite {
  from {
    opacity: 0.5;
    -webkit-transform: translateY(3.3vh) translateX(0) rotateX(0) rotate(0) scale(0.7);
    transform: translateY(3.3vh) translateX(0) rotateX(0) rotate(0) scale(0.7);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(0) rotateX(0) rotate(0) scale(0.7);
    transform: translateY(0) translateX(0) rotateX(0) rotate(0) scale(0.7);
  }
  10% {
    opacity: 0.5;
    -webkit-transform: translateY(3.3vh) translateX(0) rotateX(0) rotate(0) scale(0.7);
    transform: translateY(3.3vh) translateX(0) rotateX(0) rotate(0) scale(0.7);
  }
  15% {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(0) rotateX(0) rotate(0) scale(0.7);
    transform: translateY(0) translateX(0) rotateX(0) rotate(0) scale(0.7);
  }
  20% {
    opacity: 0.5;
    -webkit-transform: translateY(3.3vh) translateX(0) rotateX(0) rotate(0) scale(0.7);
    transform: translateY(3.3vh) translateX(0) rotateX(0) rotate(0) scale(0.7);
  }
  25% {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(0) rotateX(0) rotate(0) scale(0.7);
    transform: translateY(0) translateX(0) rotateX(0) rotate(0) scale(0.7);
  }
  30% {
    opacity: 0.5;
    -webkit-transform: translateY(3.3vh) translateX(0) rotateX(0) rotate(0) scale(0.7);
    transform: translateY(3.3vh) translateX(0) rotateX(0) rotate(0) scale(0.7);
  }
  35% {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(0) rotateX(0) rotate(0) scale(0.7);
    transform: translateY(0) translateX(0) rotateX(0) rotate(0) scale(0.7);
  }
  40% {
    opacity: 0.5;
    -webkit-transform: translateY(3.3vh) translateX(0) rotateX(0) rotate(0) scale(0.7);
    transform: translateY(3.3vh) translateX(0) rotateX(0) rotate(0) scale(0.7);
  }
  45% {
    opacity: 1;
    -webkit-transform: translateY(0vh) translateX(0) rotateX(0) rotate(0) scale(0.7);
    transform: translateY(0vh) translateX(0) rotateX(0) rotate(0) scale(0.7);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(1vh) translateX(0) rotateX(720deg) rotate(0) scale(1);
    transform: translateY(1vh) translateX(0) rotateX(720deg) rotate(0) scale(1);
  }
  55% {
    opacity: 1;
    -webkit-transform: translateY(1vh) translateX(18vw) rotateX(720deg) rotate(360deg)  scale(1);
    transform: translateY(1vh) translateX(18vw) rotateX(720deg) rotate(360deg)  scale(1);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(1vh) translateX(-18vw) rotateX(720deg) rotate(720deg) scale(1);
    transform: translateY(1vh) translateX(-18vw) rotateX(720deg) rotate(720deg) scale(1);
  }
  65% {
    opacity: 1;
    -webkit-transform: translateY(1vh) translateX(18vw) rotateX(720deg) rotate(360deg) scale(1);
    transform: translateY(1vh) translateX(18vw) rotateX(720deg) rotate(360deg) scale(1);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateY(1vh) translateX(-18vw) rotateX(720deg) rotate(0deg) scale(1);
    transform: translateY(1vh) translateX(-18vw) rotateX(720deg) rotate(0deg) scale(1);
  }
  75% {
    opacity: 1;
    -webkit-transform: translateY(1vh) translateX(18vw) rotateX(720deg) rotate(1080deg) scale(1);
    transform: translateY(1vh) translateX(18vw) rotateX(720deg) rotate(1080deg) scale(1);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateY(1vh) translateX(-18vw) rotateX(720deg) rotate(-1080deg) scale(1);
    transform: translateY(1vh) translateX(-18vw) rotateX(720deg) rotate(-1080deg) scale(1);
  }
  85% {
    opacity: 1;
    -webkit-transform: translateY(1vh) translateX(0) rotateX(720deg) rotate(0) scale(1);
    transform: translateY(1vh) translateX(0) rotateX(720deg) rotate(0) scale(1);
  }
  90% {
    opacity: 1;
    -webkit-transform: translateY(1vh) translateX(0) rotateX(720deg) rotate(0) scale(1);
    transform: translateY(1vh) translateX(0) rotateX(720deg) rotate(0) scale(1);
  }
  95% {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(0) rotateX(0) rotate(0) scale(0.7);
    transform: translateY(0) translateX(0) rotateX(0) rotate(0) scale(0.7);
  }
  to {
    opacity: 0.5;
    -webkit-transform: translateY(3.3vh) translateX(0) rotateX(0) rotate(0) scale(0.7);
    transform: translateY(3.3vh) translateX(0) rotateX(0) rotate(0) scale(0.7);
  }
}
@keyframes cyclone-infinite {
  from {
    opacity: 0.5;
    -webkit-transform: translateY(3.3vh) translateX(0) rotateX(0) rotate(0) scale(0.7);
    transform: translateY(3.3vh) translateX(0) rotateX(0) rotate(0) scale(0.7);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(0) rotateX(0) rotate(0) scale(0.7);
    transform: translateY(0) translateX(0) rotateX(0) rotate(0) scale(0.7);
  }
  10% {
    opacity: 0.5;
    -webkit-transform: translateY(3.3vh) translateX(0) rotateX(0) rotate(0) scale(0.7);
    transform: translateY(3.3vh) translateX(0) rotateX(0) rotate(0) scale(0.7);
  }
  15% {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(0) rotateX(0) rotate(0) scale(0.7);
    transform: translateY(0) translateX(0) rotateX(0) rotate(0) scale(0.7);
  }
  20% {
    opacity: 0.5;
    -webkit-transform: translateY(3.3vh) translateX(0) rotateX(0) rotate(0) scale(0.7);
    transform: translateY(3.3vh) translateX(0) rotateX(0) rotate(0) scale(0.7);
  }
  25% {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(0) rotateX(0) rotate(0) scale(0.7);
    transform: translateY(0) translateX(0) rotateX(0) rotate(0) scale(0.7);
  }
  30% {
    opacity: 0.5;
    -webkit-transform: translateY(3.3vh) translateX(0) rotateX(0) rotate(0) scale(0.7);
    transform: translateY(3.3vh) translateX(0) rotateX(0) rotate(0) scale(0.7);
  }
  35% {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(0) rotateX(0) rotate(0) scale(0.7);
    transform: translateY(0) translateX(0) rotateX(0) rotate(0) scale(0.7);
  }
  40% {
    opacity: 0.5;
    -webkit-transform: translateY(3.3vh) translateX(0) rotateX(0) rotate(0) scale(0.7);
    transform: translateY(3.3vh) translateX(0) rotateX(0) rotate(0) scale(0.7);
  }
  45% {
    opacity: 1;
    -webkit-transform: translateY(0vh) translateX(0) rotateX(0) rotate(0) scale(0.7);
    transform: translateY(0vh) translateX(0) rotateX(0) rotate(0) scale(0.7);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(1vh) translateX(0) rotateX(720deg) rotate(0) scale(1);
    transform: translateY(1vh) translateX(0) rotateX(720deg) rotate(0) scale(1);
  }
  55% {
    opacity: 1;
    -webkit-transform: translateY(1vh) translateX(18vw) rotateX(720deg) rotate(360deg)  scale(1);
    transform: translateY(1vh) translateX(18vw) rotateX(720deg) rotate(360deg)  scale(1);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(1vh) translateX(-18vw) rotateX(720deg) rotate(720deg) scale(1);
    transform: translateY(1vh) translateX(-18vw) rotateX(720deg) rotate(720deg) scale(1);
  }
  65% {
    opacity: 1;
    -webkit-transform: translateY(1vh) translateX(18vw) rotateX(720deg) rotate(360deg) scale(1);
    transform: translateY(1vh) translateX(18vw) rotateX(720deg) rotate(360deg) scale(1);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateY(1vh) translateX(-18vw) rotateX(720deg) rotate(0deg) scale(1);
    transform: translateY(1vh) translateX(-18vw) rotateX(720deg) rotate(0deg) scale(1);
  }
  75% {
    opacity: 1;
    -webkit-transform: translateY(1vh) translateX(18vw) rotateX(720deg) rotate(1080deg) scale(1);
    transform: translateY(1vh) translateX(18vw) rotateX(720deg) rotate(1080deg) scale(1);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateY(1vh) translateX(-18vw) rotateX(720deg) rotate(-1080deg) scale(1);
    transform: translateY(1vh) translateX(-18vw) rotateX(720deg) rotate(-1080deg) scale(1);
  }
  85% {
    opacity: 1;
    -webkit-transform: translateY(1vh) translateX(0) rotateX(720deg) rotate(0) scale(1);
    transform: translateY(1vh) translateX(0) rotateX(720deg) rotate(0) scale(1);
  }
  90% {
    opacity: 1;
    -webkit-transform: translateY(1vh) translateX(0) rotateX(720deg) rotate(0) scale(1);
    transform: translateY(1vh) translateX(0) rotateX(720deg) rotate(0) scale(1);
  }
  95% {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(0) rotateX(0) rotate(0) scale(0.7);
    transform: translateY(0) translateX(0) rotateX(0) rotate(0) scale(0.7);
  }
  to {
    opacity: 0.5;
    -webkit-transform: translateY(3.3vh) translateX(0) rotateX(0) rotate(0) scale(0.7);
    transform: translateY(3.3vh) translateX(0) rotateX(0) rotate(0) scale(0.7);
  }
}

@-webkit-keyframes cyCloseHover {
  from { 
    -webkit-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0);
  }
  25% {
    -webkit-transform: translate(-50%, -50%) rotate(8deg);
    transform: translate(-50%, -50%) rotate(8deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0);
  }
  75% {
    -webkit-transform: translate(-50%, -50%) rotate(-8deg);
    transform: translate(-50%, -50%) rotate(-8deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0);
  }
}
@keyframes cyCloseHover {
  from { 
    -webkit-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0);
  }
  25% {
    -webkit-transform: translate(-50%, -50%) rotate(8deg);
    transform: translate(-50%, -50%) rotate(8deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0);
  }
  75% {
    -webkit-transform: translate(-50%, -50%) rotate(-8deg);
    transform: translate(-50%, -50%) rotate(-8deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0);
  }
}

@-webkit-keyframes cyCloseTextFlicker {
  from {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes cyCloseTextFlicker {
  from {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes flicker {
  from {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  31% {
    opacity: 1;
  }
  44% {
    opacity: 0;
  }
  47% {
    opacity: 1;
  }
  67% {
    opacity: 0;
  }
  68% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  71% {
    opacity: 1;
  }
  72% {
    opacity: 0;
  }
  73% {
    opacity: 1;
  }
  88% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
@keyframes flicker {
  from {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  31% {
    opacity: 1;
  }
  44% {
    opacity: 0;
  }
  47% {
    opacity: 1;
  }
  67% {
    opacity: 0;
  }
  68% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  71% {
    opacity: 1;
  }
  72% {
    opacity: 0;
  }
  73% {
    opacity: 1;
  }
  88% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes hover {
  from {
    opacity: 0.33;
    -webkit-transform: scale(1) translateY(0px) rotateX(33deg);
    transform: scale(1) translateY(0px) rotateX(33deg);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1.11) translateY(-8px) rotateX(0deg);
    transform: scale(1.11) translateY(-8px) rotateX(0deg);
  }
}
@keyframes hover {
  from {
    opacity: 0.33;
    -webkit-transform: scale(1) translateY(0px) rotateX(33deg);
    transform: scale(1) translateY(0px) rotateX(33deg);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1.11) translateY(-8px) rotateX(0deg);
    transform: scale(1.11) translateY(-8px) rotateX(0deg);
  }
}

@-webkit-keyframes hvr-icon-bob {
  0% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}
@keyframes hvr-icon-bob {
  0% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}

@-webkit-keyframes hvr-icon-bob-float {
  100% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}
@keyframes hvr-icon-bob-float {
  100% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}

@-webkit-keyframes hvr-icon-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }
}
@keyframes hvr-icon-pulse {
  25% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  75% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes jiggle {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  85% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes jiggle {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  85% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes key {
  from {
    -webkit-transform: translateX(0) rotate(3deg) scaleY(1);
    transform: translateX(0) rotate(3deg) scaleY(1);
  }
  33% {
    -webkit-transform: translateX(48vw) rotate(0deg) scaleY(0.5); 
    transform: translateX(48vw) rotate(0deg) scaleY(0.5); 
  }
  55% {
    -webkit-transform: translateX(48vw) rotate(3deg) scaleY(0.5);
    transform: translateX(48vw) rotate(3deg) scaleY(0.5);
  }
  to {
    -webkit-transform: translateX(48vw) rotateY(0) scaleY(1);
    transform: translateX(48vw) rotateY(0) scaleY(1);
  }
}
@keyframes key {
  from {
    -webkit-transform: translateX(0) rotate(3deg) scaleY(1);
    transform: translateX(0) rotate(3deg) scaleY(1);
  }
  33% {
    -webkit-transform: translateX(48vw) rotate(0deg) scaleY(0.5); 
    transform: translateX(48vw) rotate(0deg) scaleY(0.5); 
  }
  55% {
    -webkit-transform: translateX(48vw) rotate(3deg) scaleY(0.5);
    transform: translateX(48vw) rotate(3deg) scaleY(0.5);
  }
  to {
    -webkit-transform: translateX(48vw) rotateY(0) scaleY(1);
    transform: translateX(48vw) rotateY(0) scaleY(1);
  }
}

@-webkit-keyframes key-hover {
  from {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
  10% {
    -webkit-transform: scale(0.45) rotate(0);
    transform: scale(0.45) rotate(0);
  }
  20% {
    -webkit-transform: scale(0.45) rotate(-3turn);
    transform: scale(0.45) rotate(-3turn);
  }
  40% {
    -webkit-transform: scale(0.45) rotate(-1turn);
    transform: scale(0.45) rotate(-1turn);
  }
  45% {
    -webkit-transform: scale(1) rotate(-1turn);  
    transform: scale(1) rotate(-1turn);  
  }
  50% {
    -webkit-transform: scale(1) rotate(-1turn) translateY(-11px);  
    transform: scale(1) rotate(-1turn) translateY(-11px);  
  }
  60% {
    -webkit-transform: scale(1) rotate(-1turn) translateY(0px) rotateY(33deg);  
    transform: scale(1) rotate(-1turn) translateY(0px) rotateY(33deg);  
  }
  70% {
    -webkit-transform: scale(1) rotate(-1turn) translateY(-11px) rotateY(0deg);  
    transform: scale(1) rotate(-1turn) translateY(-11px) rotateY(0deg);  
  }
  80% {
    -webkit-transform: scale(1) rotate(-1turn) translateY(0) rotateY(33deg);  
    transform: scale(1) rotate(-1turn) translateY(0) rotateY(33deg);  
  }
  88% {
    -webkit-transform: scale(1) rotate(-1turn) translateY(-11px) rotateY(0deg);  
    transform: scale(1) rotate(-1turn) translateY(-11px) rotateY(0deg);  
  }
  to {
    -webkit-transform: scale(1) rotate(-1turn) translateY(0) rotateY(0deg);
    transform: scale(1) rotate(-1turn) translateY(0) rotateY(0deg);
  }
}
@keyframes key-hover {
  from {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
  10% {
    -webkit-transform: scale(0.45) rotate(0);
    transform: scale(0.45) rotate(0);
  }
  20% {
    -webkit-transform: scale(0.45) rotate(-3turn);
    transform: scale(0.45) rotate(-3turn);
  }
  40% {
    -webkit-transform: scale(0.45) rotate(-1turn);
    transform: scale(0.45) rotate(-1turn);
  }
  45% {
    -webkit-transform: scale(1) rotate(-1turn);  
    transform: scale(1) rotate(-1turn);  
  }
  50% {
    -webkit-transform: scale(1) rotate(-1turn) translateY(-11px);  
    transform: scale(1) rotate(-1turn) translateY(-11px);  
  }
  60% {
    -webkit-transform: scale(1) rotate(-1turn) translateY(0px) rotateY(33deg);  
    transform: scale(1) rotate(-1turn) translateY(0px) rotateY(33deg);  
  }
  70% {
    -webkit-transform: scale(1) rotate(-1turn) translateY(-11px) rotateY(0deg);  
    transform: scale(1) rotate(-1turn) translateY(-11px) rotateY(0deg);  
  }
  80% {
    -webkit-transform: scale(1) rotate(-1turn) translateY(0) rotateY(33deg);  
    transform: scale(1) rotate(-1turn) translateY(0) rotateY(33deg);  
  }
  88% {
    -webkit-transform: scale(1) rotate(-1turn) translateY(-11px) rotateY(0deg);  
    transform: scale(1) rotate(-1turn) translateY(-11px) rotateY(0deg);  
  }
  to {
    -webkit-transform: scale(1) rotate(-1turn) translateY(0) rotateY(0deg);
    transform: scale(1) rotate(-1turn) translateY(0) rotateY(0deg);
  }
}

@-webkit-keyframes key-jingle {
  from {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  to {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
}
@keyframes key-jingle {
  from {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  to {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
}

@-webkit-keyframes menu-pulse-L {
  from {
    -webkit-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }
  50% {
    -webkit-transform: scale(1.3) rotate(0deg);
    transform: scale(1.3) rotate(0deg);
  }
  75% {
    -webkit-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }
  to {
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
}
@keyframes menu-pulse-L {
  from {
    -webkit-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }
  50% {
    -webkit-transform: scale(1.3) rotate(0deg);
    transform: scale(1.3) rotate(0deg);
  }
  75% {
    -webkit-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }
  to {
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
}

@-webkit-keyframes menu-pulse-R {
  from {
    -webkit-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }
  50% {
    -webkit-transform: scale(1.3) rotate(0deg);
    transform: scale(1.3) rotate(0deg);
  }
  75% {
    -webkit-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }
  to {
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
}
@keyframes menu-pulse-R {
  from {
    -webkit-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }
  50% {
    -webkit-transform: scale(1.3) rotate(0deg);
    transform: scale(1.3) rotate(0deg);
  }
  75% {
    -webkit-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }
  to {
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
}

@-webkit-keyframes pop-up {
  from {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.7) rotate(3deg);
    transform: translateX(-50%) translateY(-50%) scale(0.7) rotate(3deg);
  }
  to {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.7) rotate(-3deg);
    transform: translateX(-50%) translateY(-50%) scale(0.7) rotate(-3deg);
  }
}
@keyframes pop-up {
  from {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.7) rotate(3deg);
    transform: translateX(-50%) translateY(-50%) scale(0.7) rotate(3deg);
  }
  to {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.7) rotate(-3deg);
    transform: translateX(-50%) translateY(-50%) scale(0.7) rotate(-3deg);
  }
}

@-webkit-keyframes poweredBy { 
  from {
    -webkit-transform: translateY(0) scale(1) rotate(0);
    transform: translateY(0) scale(1) rotate(0);
  }
  10% {
    -webkit-transform: translateY(-33px) scale(1) rotate(0);
    transform: translateY(-33px) scale(1) rotate(0);
  }
  20% {
    -webkit-transform: translateY(-33px) scale(1.7) rotate(-1080deg);
    transform: translateY(-33px) scale(1.7) rotate(-1080deg);
  }
  80% {
    -webkit-transform: translateY(-33px) scale(1.7) rotate(-1080deg);
    transform: translateY(-33px) scale(1.7) rotate(-1080deg);
  }
  90% {
    -webkit-transform: translateY(-33px) scale(1) rotate(0);
    transform: translateY(-33px) scale(1) rotate(0);
  }
  to {
    -webkit-transform: translateY(0) scale(1) rotate(0);
    transform: translateY(0) scale(1) rotate(0);
  }
}
@keyframes poweredBy { 
  from {
    -webkit-transform: translateY(0) scale(1) rotate(0);
    transform: translateY(0) scale(1) rotate(0);
  }
  10% {
    -webkit-transform: translateY(-33px) scale(1) rotate(0);
    transform: translateY(-33px) scale(1) rotate(0);
  }
  20% {
    -webkit-transform: translateY(-33px) scale(1.7) rotate(-1080deg);
    transform: translateY(-33px) scale(1.7) rotate(-1080deg);
  }
  80% {
    -webkit-transform: translateY(-33px) scale(1.7) rotate(-1080deg);
    transform: translateY(-33px) scale(1.7) rotate(-1080deg);
  }
  90% {
    -webkit-transform: translateY(-33px) scale(1) rotate(0);
    transform: translateY(-33px) scale(1) rotate(0);
  }
  to {
    -webkit-transform: translateY(0) scale(1) rotate(0);
    transform: translateY(0) scale(1) rotate(0);
  }
}

@-webkit-keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes press-start {
  from {
    opacity: 0;
  }
}
@keyframes press-start {
  from {
    opacity: 0;
  }
}

@-webkit-keyframes press-start-hover {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  60% {
    color: var(--tcny-project-accent);
    opacity: 0.55;
    -webkit-transform: scale(1.8, 1);
    transform: scale(1.8, 1);
  }
  to {
    color: red;
    -webkit-transform: scale(1.38);
    transform: scale(1.38);
  }
}
@keyframes press-start-hover {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  60% {
    color: var(--tcny-project-accent);
    opacity: 0.55;
    -webkit-transform: scale(1.8, 1);
    transform: scale(1.8, 1);
  }
  to {
    color: red;
    -webkit-transform: scale(1.38);
    transform: scale(1.38);
  }
}

@-webkit-keyframes rocket {
  from{
    -webkit-transform: scale(2.5) rotate(-60deg);
    transform: scale(2.5) rotate(-60deg)
  }
  8% {
    -webkit-transform: translateY(-250px) translateX(0px) scale(3) rotate(-55);
    transform: translateY(-250px) translateX(0px) scale(3) rotate(-55);
  }
  16% {
    -webkit-transform: translateY(-500px) translateX(-100px) scale(4) rotate(-55deg);
    transform: translateY(-500px) translateX(-100px) scale(4) rotate(-55deg);
  }
  24% {
    -webkit-transform: translateY(-750px) translateX(-150px) scale(4) rotate(-50deg);
    transform: translateY(-750px) translateX(-150px) scale(4) rotate(-50deg);
  }
  32% {
    -webkit-transform: translateY(-1000px) translateX(-155px) scale(4) rotate(-45deg);
    transform: translateY(-1000px) translateX(-155px) scale(4) rotate(-45deg);
  }
  40% {
    -webkit-transform: translateY(-1250px) translateX(-160px) scale(4) rotate(-43deg);
    transform: translateY(-1250px) translateX(-160px) scale(4) rotate(-43deg);
  }
  48% {
    -webkit-transform: translateY(-1500px) translateX(-155px) scale(4) rotate(-40deg);
    transform: translateY(-1500px) translateX(-155px) scale(4) rotate(-40deg);
  }
  56% {
    -webkit-transform: translateY(-1750px) translateX(-130px) scale(4) rotate(-37.5deg);
    transform: translateY(-1750px) translateX(-130px) scale(4) rotate(-37.5deg);
  }
  64% {
    -webkit-transform: translateY(-2000px) translateX(-88px) scale(4) rotate(-40deg);
    transform: translateY(-2000px) translateX(-88px) scale(4) rotate(-40deg);
  }
  72% {
    -webkit-transform: translateY(-2250px) translateX(-25px) scale(4) rotate(-42deg);
    transform: translateY(-2250px) translateX(-25px) scale(4) rotate(-42deg);
  }
  80% {
    -webkit-transform: translateY(-2500px) translateX(0) scale(4) rotate(-44deg);
    transform: translateY(-2500px) translateX(0) scale(4) rotate(-44deg);
  }
  to {
    -webkit-transform: translateY(-3888px) translateX(0) scale(4) rotate(-45deg);
    transform: translateY(-3888px) translateX(0) scale(4) rotate(-45deg);
  }
}
@keyframes rocket {
  from{
    -webkit-transform: scale(2.5) rotate(-60deg);
    transform: scale(2.5) rotate(-60deg)
  }
  8% {
    -webkit-transform: translateY(-250px) translateX(0px) scale(3) rotate(-55);
    transform: translateY(-250px) translateX(0px) scale(3) rotate(-55);
  }
  16% {
    -webkit-transform: translateY(-500px) translateX(-100px) scale(4) rotate(-55deg);
    transform: translateY(-500px) translateX(-100px) scale(4) rotate(-55deg);
  }
  24% {
    -webkit-transform: translateY(-750px) translateX(-150px) scale(4) rotate(-50deg);
    transform: translateY(-750px) translateX(-150px) scale(4) rotate(-50deg);
  }
  32% {
    -webkit-transform: translateY(-1000px) translateX(-155px) scale(4) rotate(-45deg);
    transform: translateY(-1000px) translateX(-155px) scale(4) rotate(-45deg);
  }
  40% {
    -webkit-transform: translateY(-1250px) translateX(-160px) scale(4) rotate(-43deg);
    transform: translateY(-1250px) translateX(-160px) scale(4) rotate(-43deg);
  }
  48% {
    -webkit-transform: translateY(-1500px) translateX(-155px) scale(4) rotate(-40deg);
    transform: translateY(-1500px) translateX(-155px) scale(4) rotate(-40deg);
  }
  56% {
    -webkit-transform: translateY(-1750px) translateX(-130px) scale(4) rotate(-37.5deg);
    transform: translateY(-1750px) translateX(-130px) scale(4) rotate(-37.5deg);
  }
  64% {
    -webkit-transform: translateY(-2000px) translateX(-88px) scale(4) rotate(-40deg);
    transform: translateY(-2000px) translateX(-88px) scale(4) rotate(-40deg);
  }
  72% {
    -webkit-transform: translateY(-2250px) translateX(-25px) scale(4) rotate(-42deg);
    transform: translateY(-2250px) translateX(-25px) scale(4) rotate(-42deg);
  }
  80% {
    -webkit-transform: translateY(-2500px) translateX(0) scale(4) rotate(-44deg);
    transform: translateY(-2500px) translateX(0) scale(4) rotate(-44deg);
  }
  to {
    -webkit-transform: translateY(-3888px) translateX(0) scale(4) rotate(-45deg);
    transform: translateY(-3888px) translateX(0) scale(4) rotate(-45deg);
  }
}

@-webkit-keyframes rough-rotate {
  from{
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  to {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
}
@keyframes rough-rotate {
  from{
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  to {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }
}

@-webkit-keyframes socials-text {
  from {
    opacity: 0;
  }
}
@keyframes socials-text {
  from {
    opacity: 0;
  }
}

@-webkit-keyframes three-sixty {
  from{
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes three-sixty {
  from{
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@-webkit-keyframes three-sixty-link {
  from {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
  }
  to {
    -webkit-transform: rotate(-360deg) scale(1.8);
    transform: rotate(-360deg) scale(1.8);
  }
}
@keyframes three-sixty-link {
  from {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
  }
  to {
    -webkit-transform: rotate(-360deg) scale(1.8);
    transform: rotate(-360deg) scale(1.8);
  }
}

@-webkit-keyframes wave {
  0% { 
    -webkit-transform: translateX(8px) scale(1.8) rotate( 0.0deg); 
    transform: translateX(8px) scale(1.8) rotate( 0.0deg); 
  }
  10% { 
    -webkit-transform: translateX(8px) scale(1.8) rotate(14.0deg); 
    transform: translateX(8px) scale(1.8) rotate(14.0deg); 
  }  /* The following five values can be played with to make the waving more or less extreme */
  20% { 
    -webkit-transform: translateX(8px) scale(1.8) rotate(-8.0deg); 
    transform: translateX(8px) scale(1.8) rotate(-8.0deg); 
  }
  30% { 
    -webkit-transform: translateX(8px) scale(1.8) rotate(14.0deg); 
    transform: translateX(8px) scale(1.8) rotate(14.0deg); 
  }
  40% { 
    -webkit-transform: translateX(8px) scale(1.8) rotate(-4.0deg); 
    transform: translateX(8px) scale(1.8) rotate(-4.0deg); 
  }
  50% { 
    -webkit-transform: translateX(8px) scale(1.8) rotate(10.0deg); 
    transform: translateX(8px) scale(1.8) rotate(10.0deg); 
  }
  60% { 
    -webkit-transform: translateX(8px) scale(1.8) rotate( 0.0deg); 
    transform: translateX(8px) scale(1.8) rotate( 0.0deg); 
  }  /* Reset for the last half to pause */
  100% { 
    -webkit-transform: translateX(8px) scale(1.8) rotate( 0.0deg); 
    transform: translateX(8px) scale(1.8) rotate( 0.0deg); 
  }
}
@keyframes wave {
  0% { 
    -webkit-transform: translateX(8px) scale(1.8) rotate( 0.0deg); 
    transform: translateX(8px) scale(1.8) rotate( 0.0deg); 
  }
  10% { 
    -webkit-transform: translateX(8px) scale(1.8) rotate(14.0deg); 
    transform: translateX(8px) scale(1.8) rotate(14.0deg); 
  }  /* The following five values can be played with to make the waving more or less extreme */
  20% { 
    -webkit-transform: translateX(8px) scale(1.8) rotate(-8.0deg); 
    transform: translateX(8px) scale(1.8) rotate(-8.0deg); 
  }
  30% { 
    -webkit-transform: translateX(8px) scale(1.8) rotate(14.0deg); 
    transform: translateX(8px) scale(1.8) rotate(14.0deg); 
  }
  40% { 
    -webkit-transform: translateX(8px) scale(1.8) rotate(-4.0deg); 
    transform: translateX(8px) scale(1.8) rotate(-4.0deg); 
  }
  50% { 
    -webkit-transform: translateX(8px) scale(1.8) rotate(10.0deg); 
    transform: translateX(8px) scale(1.8) rotate(10.0deg); 
  }
  60% { 
    -webkit-transform: translateX(8px) scale(1.8) rotate( 0.0deg); 
    transform: translateX(8px) scale(1.8) rotate( 0.0deg); 
  }  /* Reset for the last half to pause */
  100% { 
    -webkit-transform: translateX(8px) scale(1.8) rotate( 0.0deg); 
    transform: translateX(8px) scale(1.8) rotate( 0.0deg); 
  }
}
