/* 
  ┌─────────────────────────────────────────────────────────────────────────┐
  │ cylconeReset pressStart                                                 │
  └─────────────────────────────────────────────────────────────────────────┘
 */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core viewport defaults */

body {
  position: relative;
  font-family: var(--ff-body);
  margin: 0;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Prevents textarea resizing */
textarea {
  resize: none;
}

a {
  display: inline-block;
  color: var(--clr-links);
  text-decoration: none;
  transition: all 100ms ease-in;
}

a:hover {
  opacity: 0.7;
}

button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  padding: 0;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: 'Gosha Sans Bold';
  src: url('../assets/fonts/GoshaSansBold.otf');
}

@font-face {
  font-family: 'Gosha Sans Regular';
  src: url('../assets/fonts/GoshaSansRegular.otf');
}

/* 
  ┌─────────────────────────────────────────────────────────────────────────┐
  │ animations                                                              │
  └─────────────────────────────────────────────────────────────────────────┘
 */

@keyframes avatar-cyclone {
  from {
    transform: rotate(360deg) scale(1);
  }
  90% {
    transform: rotate(0) scale(0.80);
  }
  92% {
    transform: rotate(0) scale(0.85)
  }
  95% {
    transform: rotate(0) scale(0.83)
  }
  to {
    transform: rotate(0) scale(0.95)
  }
}

@keyframes avatar-cyclone-active {
  from {
    transform: rotate(0) scale(0.95);
  }
  50% {
    transform: rotate(0) scale(0.5);
  }
  to {
    transform: rotate(1080deg) scale(1); 
  }
}

@keyframes cloud {
  from {
    transform: scale(1);
  }
  70% {
    transform: scale(1.2) translateX(2px);
  }
  to {
    transform: scale(1.3) translateX(3px);
  }
  
}

@keyframes cyclone-infinite {
  from {
    transform: translateY(3.3vh) translateX(0) rotateX(0) rotate(0) scale(0.7);
    opacity: 0.5;
  }
  5% {
    transform: translateY(0) translateX(0) rotateX(0) rotate(0) scale(0.7);
    opacity: 1;
  }
  10% {
    transform: translateY(3.3vh) translateX(0) rotateX(0) rotate(0) scale(0.7);
    opacity: 0.5;
  }
  15% {
    transform: translateY(0) translateX(0) rotateX(0) rotate(0) scale(0.7);
    opacity: 1;
  }
  20% {
    transform: translateY(3.3vh) translateX(0) rotateX(0) rotate(0) scale(0.7);
    opacity: 0.5;
  }
  25% {
    transform: translateY(0) translateX(0) rotateX(0) rotate(0) scale(0.7);
    opacity: 1;
  }
  30% {
    transform: translateY(3.3vh) translateX(0) rotateX(0) rotate(0) scale(0.7);
    opacity: 0.5;
  }
  35% {
    transform: translateY(0) translateX(0) rotateX(0) rotate(0) scale(0.7);
    opacity: 1;
  }
  40% {
    transform: translateY(3.3vh) translateX(0) rotateX(0) rotate(0) scale(0.7);
    opacity: 0.5;
  }
  45% {
    transform: translateY(0vh) translateX(0) rotateX(0) rotate(0) scale(0.7);
    opacity: 1;
  }
  50% {
    transform: translateY(1vh) translateX(0) rotateX(720deg) rotate(0) scale(1);
    opacity: 1;
  }
  55% {
    transform: translateY(1vh) translateX(18vw) rotateX(720deg) rotate(360deg)  scale(1);
    opacity: 1;
  }
  60% {
    transform: translateY(1vh) translateX(-18vw) rotateX(720deg) rotate(720deg) scale(1);
    opacity: 1;
  }
  65% {
    transform: translateY(1vh) translateX(18vw) rotateX(720deg) rotate(360deg) scale(1);
    opacity: 1;
  }
  70% {
    transform: translateY(1vh) translateX(-18vw) rotateX(720deg) rotate(0deg) scale(1);
    opacity: 1;
  }
  75% {
    transform: translateY(1vh) translateX(18vw) rotateX(720deg) rotate(1080deg) scale(1);
    opacity: 1;
  }
  80% {
    transform: translateY(1vh) translateX(-18vw) rotateX(720deg) rotate(-1080deg) scale(1);
    opacity: 1;
  }
  85% {
    transform: translateY(1vh) translateX(0) rotateX(720deg) rotate(0) scale(1);
    opacity: 1;
  }
  90% {
    transform: translateY(1vh) translateX(0) rotateX(720deg) rotate(0) scale(1);
    opacity: 1;
  }
  95% {
    transform: translateY(0) translateX(0) rotateX(0) rotate(0) scale(0.7);
    opacity: 1;
  }
  to {
    transform: translateY(3.3vh) translateX(0) rotateX(0) rotate(0) scale(0.7);
    opacity: 0.5;
  }
}

@keyframes emoji-eyes {
  from {
    transform: rotate(90deg);
  }
}

@keyframes emoji-rotate {
  from {
    transform: rotate(-360deg);
  }
}

@keyframes hover {
  from {
    opacity: 0.33;
    transform: scale(1) translateY(0px) rotateX(33deg);
  }
  to {
    opacity: 1;
    transform: scale(1.11) translateY(-8px) rotateX(0deg);
  }
}

@keyframes jiggle {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  85% {
    transform: scale(1.3);
  }
  to {
    transform: scale(1);
  }
}

@keyframes key {
  from {
    transform: translateX(0) rotate(3deg) scaleY(1);
  }
  33% {
    transform: translateX(48vw) rotate(0deg) scaleY(0.5); 
  }
  55% {
    transform: translateX(48vw) rotate(3deg) scaleY(0.5);
  }
  to {
    transform: translateX(48vw) rotateY(0) scaleY(1);
  }
}

@keyframes key-hover {
  from {
    transform: scale(1) rotate(0);
  }
  10% {
    transform: scale(0.45) rotate(0);
  }
  20% {
    transform: scale(0.45) rotate(-3turn);
  }
  40% {
    transform: scale(0.45) rotate(-1turn);
  }
  45% {
    transform: scale(1) rotate(-1turn);  
  }
  50% {
    transform: scale(1) rotate(-1turn) translateY(-11px);  
  }
  60% {
    transform: scale(1) rotate(-1turn) translateY(0px) rotateY(33deg);  
  }
  70% {
    transform: scale(1) rotate(-1turn) translateY(-11px) rotateY(0deg);  
  }
  80% {
    transform: scale(1) rotate(-1turn) translateY(0) rotateY(33deg);  
  }
  88% {
    transform: scale(1) rotate(-1turn) translateY(-11px) rotateY(0deg);  
  }
  to {
    transform: scale(1) rotate(-1turn) translateY(0) rotateY(0deg);
  }
}

@keyframes key-jingle {
  from {
    transform: rotate(3deg);
  }
  to {
    transform: rotate(-3deg);
  }
}

@keyframes menu-pulse-L {
  from {
    transform: scale(1.1) rotate(-3deg);
  }
  50% {
    transform: scale(1.3) rotate(0deg);
  }
  75% {
    transform: scale(1.1) rotate(3deg);
  }
  to {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes menu-pulse-R {
  from {
    transform: scale(1.1) rotate(3deg);
  }
  50% {
    transform: scale(1.3) rotate(0deg);
  }
  75% {
    transform: scale(1.1) rotate(-3deg);
  }
  to {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes press-start {
  from {
    opacity: 0;
  }
}

@keyframes press-start-hover {
  from {
    transform: scale(1);
  }
  60% {
    transform: scale(1.8, 1);
    opacity: 0.55;
    color: var(--tcny-project-accent);
  }
  to {
    transform: scale(1.38);
    color: red;
  }
}

@keyframes rocket {
  from{
    transform: scale(4)
  }

  to {
    transform: scale(4) translateX(-50%)
  }
}

@keyframes rough-rotate {
  from{
    transform: rotate(18deg);
  }
  to {
    transform: rotate(-18deg);
  }
}

@keyframes three-sixty {
  from{
    transform: rotate(-360deg);
  }
}

@keyframes three-sixty-link {
  from {
    transform: rotate(0) scale(1);
  }
  to {
    transform: rotate(-360deg) scale(1.8)
  }
}

@keyframes wave {
  from {
    transform: rotate(24deg) scale(1.8);
  }
  to {
    transform: rotate(0deg) scale(1.8);
  } 
}

/* 
  ┌─────────────────────────────────────────────────────────────────────────┐
  │ myNameIsRoot                                                            │
  └─────────────────────────────────────────────────────────────────────────┘
 */

:root {
  /* primaryColors */
  --clr-xl-header: white;
  --clr-body-primary:  white;
  --clr-links: chartreuse;
  --clr-body-placeholder: white;
  --clr-section-header: white;
  --clr-submit-txt: red;
  --clr-h4: white;
  --clr-silver-surfer: silver;
  --clr-transparent: transparent;
  --clr-bg-solid: rgba(21, 21, 21);
  --clr-bg-semi-transparent: rgba(0, 0, 0, 0.7);
  --clr-neon-red: #e91113;
  --clr-neon-orange: #fe8b0d;
  --clr-neon-blue: #01f0ef; 
  --clr-neon-pink: #dc80b1;

  /* colorsMisc */
  --clr-section-div: white;
  --clr-tcny-accent: red;
  --clr-code: red;
  --clr-lang: red;

  /* fontFamily */
  --ff-primary: 'MuseoModerno', cursive;
  --ff-accent: 'Roboto Mono', monospace;
  --ff-heading: 'Gosha Sans Regular', Arial, Helvetica, sans-serif;
  --ff-body: 'Montserrat', sans-serif;
  --ff-nav: var(--ff-pixelated );
  
  --ff-pixelated: 'Press Start 2P', cursive;

  /* fontWeight */
  --fw-light: 200;
  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold-700: 700;

  /* fontSize */
  --fs-h1: clamp(2.5rem, 10vw, 20.813rem);
  --fs-h2: clamp(1.5rem, 3.3vw, 2rem);
  --fs-h3: clamp(0.938rem, 2.5vw, 1.313rem);
  --fs-h4: clamp(1.125rem, 2.5vw, 1.313rem);
  --fs-body: clamp(1rem, 2.8vw, 1.125rem);
  
  --fs-project-btn-label: clamp(1rem, 5vw, 2.1rem);
  --fs-icon-name: clamp(0.8125rem, 2vw, 1rem);
  --fs-nav: clamp(0.8125rem, 1.5vw, 1.313rem);
  --fs-placeholder:  clamp(0.655rem, 1.5vw, 0.8125rem);
  --fs-press-start: clamp(1rem, 1.5vw, 1.875rem);

  /* variousStyles */

  /* textShadowForPixelatedFont */
  --ts-clr-match: 0 0 0.55em;
  --ts-black: 0 0 0.3em black;

  --rgb-gradient: #ff1818, chartreuse, #1F51FF;
  --rgb-gradient-opaque: rgba(255, 24, 24, 0.555), rgba(128, 255, 0, 0.555), rgba(31, 81, 255, 0.555);
} 

/* 
  ┌─────────────────────────────────────────────────────────────────────────┐
  │ utilityClasses                                                          │
  └─────────────────────────────────────────────────────────────────────────┘
 */

::placeholder {
  position: relative;
  color: var(--clr-body-placeholder);
  font-family: var(--ff-pixelated);
  font-size: var(--fs-placeholder);
  text-shadow: var(--ts-black);
  opacity: 0.55;
}

::selection {
  background-color: chartreuse;
  color: black;
  
  background-clip: initial;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;  
}

.secondary-header,
.tertiary-header,
.quarternary-header {
  color: var(--clr-body-header);
  font-family: var(--ff-heading);
  margin-bottom: 8px;
}

.secondary-header {
  font-size: var(--fs-h2);
}

.tertiary-header {
  position: relative;
  font-size: var(--fs-h3);
  font-family: var(--ff-pixelated);
  color: var(--clr-body-primary);
  font-weight: bold;
  letter-spacing: -1.5px;
}

.quarternary-header {
  color: var(--clr-h4);
  font-family: var(--ff-pixelated);
  font-size: var(--fs-h4);
  font-weight: var(--fw-bold-700);
  letter-spacing: -1px;
  word-spacing: -5px;
  text-shadow: var(--ts-clr-match);
}

.gradient-text {
  background: linear-gradient(to right, var(--rgb-gradient));
  background-clip: text ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}

.section {
  display: grid;
  justify-items: center;
  padding-top: 3vh;
  margin-bottom: 55px;
}

.section .section-top {
  position: relative;

  background-color: var(--clr-bg-creamiest);

  margin-bottom: 33px;

  text-align: center;
  width: 77vw;
}

.section .section-top .line-snap {
  position: absolute;
  top: 50%;

  border: 1px solid var(--clr-section-div);
  box-shadow: 0 0 5px var(--clr-section-div);
  opacity: 33%;
  width: 100%;
  z-index: 0;
}

.section .section-header-container {
  position: relative;
  z-index: 1;

  background-color: var(--clr-bg-creamiest);
  width: max-content;
  margin: 0 auto;
}

.section .section-header-container h3 {
  position: relative;

  background: var(--clr-bg-solid);
  border-radius: 88px;
  box-shadow: 0 0 0.33em silver;
  padding: 5px 33px;
  margin: 0 8px;
  text-shadow: var(--ts-clr-match);
}

.section .section-header-container h3::before {
  position: absolute;
  inset: 0;
  
  content: '';
  
  border-radius: 88px;
  opacity: 0;
  transition: opacity 111ms ease-in;

  z-index: -1;
}

.section .section-header-container h3:hover::before {
  opacity: 1;
} 

.text-content-container {
  position: relative;

  display: grid;

  font-size: var(--fs-body);
  text-align: center;
}

.text-content-container {
  position: relative;
  text-shadow: var(--ts-clr-match);
  margin-bottom: 33px;
}

.text-content-container {
  position: relative;
}

.text-content-container::before {
  content: '';
  
  position: absolute;
  inset: 0;

  background: var(--clr-bg-semi-transparent);
  box-shadow: 0 0 15px white, inset 0 0 21px black;
  opacity: 0;
  transition: 0.33s ease-in-out;

  z-index: -1;
}

.text-content-container:hover::before {
  opacity: 1;
}

button {
  font-family: var(--ff-pixelated);
  font-size: var(--fs-press-start);
}

.lang {
  color: var(--clr-lang);
  font-family: 'Courier New', Courier, monospace;
  font-weight: var(--fw-bold-700);
}

code {
  color: var(--clr-code);
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 0 0 8px var(--clr-code);
}

/* 
  ┌─────────────────────────────────────────────────────────────────────────┐
  │ stylinOnEm pressStart                                                 │
  └─────────────────────────────────────────────────────────────────────────┘
 */

#bg-opacity-container {
  background-color: rgba(0, 0, 0, 0.333);
  min-height: 100vh;
}

body {
  color: var(--clr-body-primary);
  background: url('../assets/images/theWonderKid.png');
  background-size: cover;
  display: grid;
  place-items: center;
}

#about,
#projects {
  overflow-X: hidden;
}

p,
figcaption {
  padding: 0 5vw;
}

main > .section:last-child {
  margin-bottom: 8vh;
}

#hero {
  display: grid;
  justify-items: center;
  align-items: baseline;
  
  min-height: 100vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  width: 100vw;
}

#hero #full-height-container {
  display: grid;
  place-items: center;  
}

#hero #cyclone {
  cursor: pointer;
  width: clamp(188px, 38vw, 233px);
  overflow-x: hidden;
  filter: drop-shadow(0 0 11px white);
  pointer-events: none;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  animation: cyclone-infinite 18.888s linear infinite;
  -webkit-animation: cyclone-infinite 18.888s linear infinite;
  
  transition: transform 3s ease-in-out;
}

#hero #jkc {
  color: var(--clr-xl-header);
  font-family: var(--ff-primary);
  font-size: var(--fs-h1);
  text-shadow: 0 0 8px black;
}

#hero .welcome,
#hero .qotd {
  font-family: var(--ff-accent);
}

#hero .welcome {
  text-align: center;
}

#hero .qotd {
  text-align: center;

  margin-bottom: 33px;
}

#hero .header-link {
  text-decoration: underline dotted 2.3px;
}

#hero .welcome h2 {
  text-align: center;
  line-height: 1;
  margin-bottom: 11px;
}

#hero .welcome p {
  font-size: var(--fs-body);
  font-weight: var(--fw-light); 
  
  margin-bottom: 11px;
}

#hero .qotd p {
  font-size: var(--fs-body);
  font-weight: var(--fw-light);
  font-style: italic;
}

#hero .qotd figcaption {
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
}

#hero #press-start-container {
  display: grid;
  place-items: center;
}

#hero #press-start-container p {
  font-style: italic;
  font-family: var(--ff-accent);

  font-size: max(0.75rem, calc(var(--fs-press-start) - 0.18rem));
  font-weight: var(--fw-bold-700);
  opacity: 0.38;
  padding-right: 5.5vw;
}

#hero #press-start-btn {
  font-family: var(--ff-pixelated);
  margin: 0 auto;
  letter-spacing: 1px;
  font-size: var(--fs-press-start);
  color: var(--clr-body-primary);
  text-shadow: var(--ts-clr-match);
  transition: transform 0.3s ease-in;
  width: max-content;

  animation: press-start 0.8s linear alternate infinite;
  -webkit-animation: press-start 0.8s linear alternate infinite;
}

#hero #press-start-btn:hover {
  animation: press-start 0.33s linear alternate infinite, press-start-hover 0.55s ease-out forwards;
  -webkit-animation: press-start 0.33s linear alternate infinite, press-start-hover 0.55s ease-out forwards;
  filter: unset;
}

#hero #press-start-btn ~ p {
  transition: opacity 0.38s ease-out;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

#hero #press-start-btn:hover ~ p {
  opacity: 0;
  /* pointer-events: none; */
}

#key-hole {
  position: fixed;
  top: 33px;
  right: 0;

  filter: saturate(0) drop-shadow(0 0 8px white);
  height: 43px;
}

nav {  
  position: sticky;
  top: -1px;

  display: grid;
  place-items: center;

  height: 111px;
  width: 100vw;
  pointer-events: none;

  transition: all 0.38s ease-in-out;

  z-index: 3;
}

nav #key {
  display: grid;
  place-items: center;
  
  height: 100%;
  width: 100%;
  overflow-x: hidden;

  transition: all 0.38s ease-in-out;
}

nav #key img {
  cursor: pointer;
  pointer-events: auto;

  filter: drop-shadow(0 0 13px var(--clr-body-primary));
  opacity: 1;
  width: 11rem;
}

nav #key.nav-toggle img {
  animation: key-jingle 0.38s linear alternate infinite;
  -webkit-animation: key-jingle 0.38s linear alternate infinite;
  
  transition: all 0.38s ease-in-out;
}

nav #key img:hover {
  animation: key-hover 7.77s linear infinite;
  -webkit-animation: key-hover 7.77s linear infinite;
  
  transform: scale(1.1);
} 

nav #key.nav-toggle.open img {
  animation: key 0.8s linear alternate forwards;
  -webkit-animation: key 0.8s linear alternate forwards;
}

nav.is-pinned #key img {
  opacity: 0.7;
  transition: opacity 0.38s ease-in;

  animation: none;
} 

nav.is-pinned #key img:hover {
  opacity: 1;
  animation: key-jingle 0.38s linear alternate infinite;
  -webkit-animation: key-jingle 0.38s linear alternate infinite;
} 

nav.is-pinned #key.nav-toggle.open img {
  opacity: 1;
  animation: key 0.8s linear alternate forwards;
  -webkit-animation: key 0.8s linear alternate forwards;
}

/* keyAnimation */
nav .nav-toggle.open img {
  animation: key 0.8s linear alternate forwards;
  -webkit-animation: key 0.8s linear alternate forwards;
}

nav #nav-ul-wrapper {
  position: absolute;
  top: 111px;
  right: 0;
  
  opacity: 0;
  visibility: hidden;
  
  transition: all 0.38s 0.28s ease-in-out;
}

nav .nav-toggle.open ~ #nav-ul-wrapper {
  opacity: 1;
  visibility: visible;
}

nav #nav-ul-wrapper ul {
  position: relative;

  display: grid;
  justify-items: end;
  gap: 18px;
  
  border: 3px ridge var(--clr-silver-surfer);
  border-right: none;
  border-top-left-radius: 111px;

  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 33px;
  list-style-type: none;
  padding: 18px 0 18px 18px;
  z-index: 1;
}

/* navBG */
nav #nav-ul-wrapper ul::before {
  content: '';

  position: absolute;
  inset: 0;
  pointer-events: auto;

  background: linear-gradient(to top left, black, black, rgb(111, 111, 111));
  border-top-left-radius: 111px;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 33px;
  opacity: 0.7;

  z-index: 0;
} 

/* navBoxShadow */
nav #nav-ul-wrapper ul::after {
  position: absolute;
  inset: 0;

  content:'';

  border-top-left-radius: 111px;
  border-bottom-right-radius: 33px;
  border-bottom-left-radius: 55px;
  box-shadow: 0 0 21px 3px white;

  z-index: 0;
}

nav #nav-ul-wrapper a {
  position: relative;
  pointer-events: auto;

  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0 0 18px white , inset 0 0 10px black;
  /* toRemoveRightBoxShadowOverflow */
  clip-path: inset(-100px 0px -100px -100px);
  font-family: var(--ff-nav);
  font-size: var(--fs-nav);
  letter-spacing: 1px;
  padding: 11px 5px 11px 21px;
  text-shadow: var(--ts-clr-match);

  transition: transform 100ms ease-in-out;

  z-index: 1;
}

nav #nav-ul-wrapper li:nth-of-type(1) a {
  color: var(--clr-neon-red);
}

nav #nav-ul-wrapper li:nth-of-type(2) a {
  color: var(--clr-neon-orange);
}

nav #nav-ul-wrapper li:nth-of-type(3) a {
  color: var(--clr-neon-blue);
}

nav #nav-ul-wrapper li:nth-of-type(4) a {
  color: var(--clr-neon-pink);
}

nav #nav-ul-wrapper a:hover {
  opacity: 0.88;
  transform: rotateX(21deg);
}

nav #nav-ul-wrapper a::before {
  position: absolute;
  inset: 0;

  content: '';

  background: linear-gradient(to right, rgb(211, 211, 211), black, black);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0 0 8px 5px;
  opacity: 0.7;

  z-index: -1;
}

nav #nav-ul-wrapper a:hover::before {
  opacity: 0.88;
}

nav #nav-ul-wrapper li:nth-of-type(4) a {
  border-bottom-right-radius: 33px;
}

nav #nav-ul-wrapper li:nth-of-type(4) a::before {
  border-bottom-right-radius: 33px;
}

#about {
  position: relative;
}

#about .section-header-container h3::before {
  box-shadow: 0 0 1em var(--clr-neon-orange);
}

#about #avatar-container {
  display: grid;
  justify-content: center;
  
  margin-bottom: 33px;
  padding: 0 55px;
  width: 100%;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

#about #avatar-overflow-container {
  position: relative;
  
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;

  transition: all 0.3s ease-in;
}

/* rgbCyclone360 */
#about #avatar-overflow-container::before {
  position: absolute;
  inset: 0;

  content: '';

  background: linear-gradient(to bottom, silver, transparent, transparent);
  border-radius: 50%;
  height: 100%;
  opacity: 55%;
  overflow: hidden;
  width: 100%;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  animation: three-sixty 3.333s linear infinite; 
  -webkit-animation: three-sixty 3.333s linear infinite;
}

#about #avatar-overflow-container img {
  cursor: pointer;

  filter: saturate(0) brightness(0.7);
  transition: all 0.3s ease-in;
  border-radius: 50%;

  animation: avatar-cyclone 8s linear forwards;
  -webkit-animation: avatar-cyclone 8s linear forwards;
}

#about #avatar-overflow-container img:hover {
  filter: saturate(0.55) brightness(1);
}

#about #avatar-overflow-container img:active {
  animation: avatar-cyclone-active 0.8s ease-in forwards;
}

#about #wave {
  display: inline-block;

  background: initial;
  background-clip: initial;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  filter: drop-shadow(0 0 3px black);
  letter-spacing: 5px;
  text-shadow: none;
  vertical-align: 5px;

  animation: wave 0.38s linear alternate infinite;
  -webkit-animation: wave 0.38s linear alternate infinite;
}

#about .japanese-emoji {
  filter: drop-shadow(0 0 3px black);
  font-size: 1.5em;
  font-family: monospace;
  letter-spacing: normal;
  
  vertical-align: 5px;
}

#about .emoji-eyes {
  display: inline-block;

  animation: emoji-eyes 3s linear infinite alternate;
}

#about .emoji-rotate {
  display: inline-block;

  filter: drop-shadow(0 0 3px black);
  text-shadow: initial;

  animation: emoji-rotate 8s linear infinite;
}

#about .word-coding {
  display: inline-block;
  font-weight: 700;
  filter: drop-shadow(0 0 3.3px black);
  transition: transform 0.33ms ease-in-out;
}

#about .word-coding:hover {
  transform: rotateY(21deg);
}

#about .nyc {
  font-family: bookman-jf-pro, serif;
  font-style: italic;
  word-spacing: 7px;
  font-feature-settings: unset;
}

#about .nyc-glyph {
  /* use the first available swash character (add 2 after to use the second) */
  font-feature-settings:"swsh";
}

#about .jkc-text {
  font-size: var(--fs-h2);
  font-weight: bold;
  filter: drop-shadow(0 0 3.3px black);
}

#about .cloud {
  display: inline-block;
  animation: cloud 0.5s linear alternate infinite;
  -webkit-animation: cloud 0.5s linear alternate infinite;
  
  background-clip: initial ;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  text-shadow: none;
}

#about #stack {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  width: min(500px, 100%);
  margin-inline:auto;
}

#about .tech-icon {
  display: grid;
  text-align: center; 
}

#about .tech-icon:hover > i {
  animation: jiggle 333ms linear forwards;
  -webkit-animation: jiggle 333ms linear forwards;
}

#about .icon {
  font-size: 2.8rem;
}

#about .icon-name {
  font-size: var(--fs-icon-name);
  transition: transform 333ms ease-in;
  text-shadow: var(--ts-clr-match);
}

#about .tech-icon:hover > .icon-name {
  transform: translateY(8px) scale(1.3);
}

#projects .section-header-container h3::before {
  box-shadow: 0 0 1em var(--clr-neon-blue);
}

#projects .logo-stack {
  position: relative;

  margin: 0 15vw 33px 15vw;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  z-index: 1;
}

#projects .logo-stack .stack-still {
  filter: drop-shadow(0 0 3px white);

  transition: all 0.1s ease-out;
}

#projects .logo-stack .stack-gif {
  position: absolute;
  top: 50%;

  padding: auto;
  opacity: 0;
  width: 100%;
  
  transform: scale(0) translateY(-50%);
  transition: all 100ms ease-in;
}

#projects .logo-stack:hover > .stack-still {
  transform: scale(0);
}

#projects .logo-stack:hover > .stack-gif {
  opacity: 0.88;
  transform: scale(1) translateY(-50%);
}

#projects p {
  font-size: var(--fs-body);
  text-align: center;
}

#projects .project-visual {
  position: relative;

  transition: all 0.55s ease-in-out;
  z-index: 1;
}

#projects #levelOne {
  justify-self: center;
  
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  filter: drop-shadow(0 0 1px white);
  margin-bottom: 11px;

  user-select: none; /* Standard */
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */

  z-index: 1;
}

#projects #levelOne h3 {
  position: relative;

  margin-bottom: 0;
  text-shadow: 0 0 5px black;
}

#projects #levelOne img {
  height: 77px;
  width: 77px;
  filter: drop-shadow(0 0 5px black);
}

#projects #levelOne #tapMeContainer {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  
  opacity: 1;
  visibility: visible;
  
  transform: scale(1);
  transition: all 0.33s ease-in-out;

  animation: pulse 0.55s linear infinite alternate;
}

#projects #levelOne.tapped #tapMeContainer { 
  opacity: 0;
  visibility: hidden;

  transform: scale(0);
}

#projects #levelOne #levelOneContainer {
  position: absolute;
  inset: 0;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  
  transform: scale(0);

  animation: hover 0.33s ease-in infinite alternate;

  z-index: 0;
}

#projects #levelOne.tapped #levelOneContainer {
  opacity: 1;
  visibility: visible;
  
  transform: scale(1);
  transition-delay: 0.33s;
}

#projects .project-visual.inception #levelOneContainer {
  filter: drop-shadow(0 0 5px skyblue);
}

#projects #levelOne #levelOneContainer #diamond {
  display: inline-block;

  animation: rough-rotate 0.99s linear infinite alternate;
}

/* projectBoxShadow */
#projects .project-stack .project-stack-psuedo {
  position: relative; 

  border-radius: inherit;

  transition: 0.38s ease-in-out;
}

#projects .project-stack .project-stack-psuedo::before {
  position: absolute;
  inset: 0;
  
  content: '';

  box-shadow: 0 11px 21px 3px var(--clr-body-primary);
  border-radius: inherit;
  opacity: 0;
  transition: all 0.38s ease-in-out;
}

#projects .project-stack .project-stack-psuedo:hover::before {
  opacity: 1;
}

#projects .project-visual.inception .project-stack-psuedo::before {
  box-shadow: 0 0 18px black;
  opacity: 1;

  z-index: 1;
}

#projects .project-stack .gif-container {
  position: relative;
  
  border-radius: inherit;
  cursor: pointer;

  z-index: 1;
}

#projects .project-stack .gif-container > img {
  border-radius: inherit;
  width: 100%;
  height: 100%;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  pointer-events: none;
  
  transition: all 0.38s ease-in-out;
}

#projects .project-stack .btn-container {
  position: absolute;
  inset: 0;
  
  display: grid;
  place-content: center;
  
  background: linear-gradient(to bottom right, black, rgb(33, 33, 33), black);
  border-radius: inherit;
  opacity: 0;
  transition: all 0.38s ease-in-out;
  visibility: hidden;

  z-index: 2;
}

#projects .project-stack .modal-trigger.open ~ .btn-container {
  opacity: 1;
  visibility: visible;
}

#projects .project-stack .cyclone-grid {
  display: grid;
  place-items: center;

  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  
  transform: scale(0.8);
}

#projects .project-stack .close-btn {
  grid-area: 1 / 7 / span 1 / span 1;

  display: grid;
  grid-template-areas: 'svg';
  place-items: center;

  color: var(--clr-tcny-accent);
  cursor: pointer;
  filter: drop-shadow(0 0 8px var(--clr-tcny-accent));
  height: 100%;
  width: 100%;
  
  overflow: hidden;
  transition: transform 0.38s ease-in-out;
}

#projects .project-stack .close-btn:hover {
  transform: scale(1.3) rotate(-540deg);
}

#projects .project-stack .close-btn svg {
  grid-area: svg;
  
  opacity: 0.8;
  width: 88%;
  height: 88%;
}

#projects .project-stack .close-btn:hover > svg {
  opacity: 1;
}

/* liveLink */
#projects .project-stack .live-link-container {
  grid-area: 3 / 2 / span 2 / span 2;
  display: grid;
  place-items: center; 
}

#projects .project-stack .live-link img {
  filter: drop-shadow(0 0 1px var(--clr-tcny-accent));
  transition: transform 0.88s ease-in-out;
}

#projects .project-stack .live-link:hover img {
  transform: scale(1.3) rotate(360deg);
}

/* linkLabelUniformity */
#projects .project-stack .uniform-link-container {
  position: relative;
}

#projects .project-stack .project-btn-label {
  position: absolute;

  font-family: var(--ff-pixelated);
  font-size: var(--fs-project-btn-label);
  color: var(--clr-tcny-accent);
  pointer-events: none;
  text-align: center;
  text-shadow: 0 0 18px var(--clr-tcny-accent);

  z-index: 1;

  animation: pulse 0.38s linear infinite alternate;
  -webkit-animation: pulse 0.38s linear infinite alternate;
}

#projects .project-stack .live-link-container .project-btn-label {
  top: -77%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

#projects .project-stack .github-link-container .project-btn-label {
  top: 139%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
} 

/* githubLink */
#projects .project-stack .github-link-container {
  grid-area: 2 / 5 / span 2 / span 2;

  display: grid;
  place-items: center; 
}

#projects .project-stack .github-link img {
  filter: drop-shadow(0 0 1px var(--clr-tcny-accent));
  transition: transform 0.88s ease-in-out;
}

#projects .project-stack .github-link:hover img {
  transform: scale(1.3) rotate(-360deg);
}

#projects .project-stack .btn-container .monogram-img {
  width: 88%;
  margin-inline: auto;
}

#projects .project-stack .btn-container .monogram-img:not(.live-img,.github-img,.close-img) {
  opacity: 0.8;
  width: 55%;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  transition: opacity 0.55s ease-in-out, transform 111ms ease-in-out;
}

#projects .project-stack .btn-container .monogram-img:not(.live-img,.github-img,.close-img):hover {
  transform: scale(0.55);
  opacity: 1;
}

#projects .project-stack .btn-container .monogram-img:not(.live-img,.github-img,.close-img):active {
  transform: scale(0.77);
  opacity: 1;
}

#projects .project-stack .btn-container .link:hover {
  opacity: 1;
}

/* #projects .project-stack .btn-container .uniform-link-container:hover ~ .monogram-img:nth-child(odd) {
  opacity: 0.1;
  animation: three-sixty 0.3s linear infinite reverse;
  -webkit-animation: three-sixty 0.3s linear infinite reverse;
}

#projects .project-stack .btn-container .uniform-link-container:hover ~ .monogram-img:nth-child(even) {
  opacity: 0.38;
  animation: three-sixty 0.8s linear infinite;
  -webkit-animation: three-sixty 0.83s linear infinite;
} */

#projects .project-stack .btn-container .uniform-link-container:hover ~ .monogram-img:nth-of-type(odd) {
  opacity: 0.1;
  animation: three-sixty 0.3s linear infinite reverse;
  -webkit-animation: three-sixty 0.3s linear infinite reverse;
}

#projects .project-stack .btn-container .uniform-link-container:hover ~ .monogram-img:nth-of-type(even) {
  opacity: 0.38;
  animation: three-sixty 0.8s linear infinite;
  -webkit-animation: three-sixty 0.83s linear infinite;
}

#projects .project-stack .btn-container .uniform-link-container:hover ~ .monogram-img:nth-of-type(1) {
  opacity: 0.38;
  animation: three-sixty 0.8s linear infinite;
  -webkit-animation: three-sixty 0.83s linear infinite;
}

#projects .project-stack .btn-container .uniform-link-container:hover ~ .monogram-img:nth-of-type(2) {
  opacity: 0.1;
  animation: three-sixty 0.8s linear infinite reverse;
  -webkit-animation: three-sixty 0.83s linear infinite reverse;
}

#projects .project-stack .btn-container .uniform-link-container:hover ~ .monogram-img:nth-of-type(3) {
  opacity: 0.38;
  animation: three-sixty 0.8s linear infinite;
  -webkit-animation: three-sixty 0.83s linear infinite;
}

#projects .project-stack .btn-container .uniform-link-container:hover ~ .monogram-img:nth-of-type(4) {
  opacity: 0.1;
  animation: three-sixty 0.8s linear infinite reverse;
  -webkit-animation: three-sixty 0.83s linear infinite reverse;
}

#projects .project-stack .btn-container .uniform-link-container:hover ~ .monogram-img:nth-of-type(5) {
  opacity: 0.38;
  animation: three-sixty 0.8s linear infinite;
  -webkit-animation: three-sixty 0.83s linear infinite;
}

#projects .project-stack .btn-container .uniform-link-container:hover ~ .monogram-img:nth-of-type(6) {
  opacity: 0.1;
  animation: three-sixty 0.8s linear infinite reverse;
  -webkit-animation: three-sixty 0.83s linear infinite reverse;
}

#projects .project-stack .btn-container .uniform-link-container:hover .project-btn-label {
  animation: none;
}

#contact .section-header-container h3::before {
  box-shadow: 0 0 1em var(--clr-neon-pink);
}

#contact #contact-form {
  display: grid;
  gap: 11px;
}

#contact #contact-form label {
  display: none;
}

#contact #contact-form input,
#contact #contact-form textarea {
  background: var(--clr-bg-semi-transparent);
  border: 3px ridge var(--clr-silver-surfer);
  border-radius: 33px;
  color: var(--clr-body-primary);
  font-size: var(--fs-body);
  font-family: var(--ff-priamry);
  /* font-weight: var(--fw-bold-700); */
  margin: 0 auto;
  padding: 13px 33px;
  text-align: center;
  width: min(77vw, 555px);
}

#contact #contact-form textarea {
  height: 133px;
}

#contact > #contact-form .btn-container {
  display: grid;

  width: 100%
}

#contact > #contact-form .btn-container button {
  justify-self: center;

  position: relative;
  cursor: pointer;

  border: 3px solid var(--clr-silver-surfer); 
  border-radius: 33px;
  box-shadow: inset 0 0 3px var(--clr-silver-surfer); 

  /* projeCt root variable color switch on hover */
  color: var(--clr-silver-surfer);
  text-shadow: 0 0 3px var(--clr-silver-surfer);

  padding: 8px 23px;
  width: max-content;
}

#contact > #contact-form .btn-container button::before {
  content: '🚀 ';

  position: absolute;
  top: 3px;
  left: 165px;


  width: max-content;
  height: max-content;

  /* opacity: 0;
  visibility: hidden; */

  transform: scale(3);
  transition: opacity 0.333s ease-in;
  
  z-index: 0;
}

#contact > #contact-form .btn-container button:hover::before {
  opacity: 1;
  visibility: visible;

  animation: rocket 3.333s linear forwards;
}

#contact > #contact-form .btn-container button::after {
  content: '';

  position: absolute;
  inset: 0;

  background: url(../assets/images/cloudsabove.gif);
  border-radius: 33px;
  
  opacity: 0;
  visibility: hidden;

  transition: opacity 0.33s ease-in;

  z-index: -1;
} 

#contact > #contact-form .btn-container button:hover::after {
  opacity: 1;
  visibility: visible;
}

@media only screen and (min-width: 768px) {
  .text-content-container {
    padding: 0.8em;
    margin: 0 11vh 55px 11vh;
  }

  .text-content-container::before {
    border-radius: 55px;
    border-top-left-radius: 111px;
    border-bottom-right-radius: 111px;
    opacity: 0.38;
  }

  #about,
  #projects {  
    overflow-x: initial;
  }

  #about #avatar-container {
    padding: 0 28vw;
  }

  #projects .project-stack {
    padding: 0 11vw;
    border-radius: 21%;
  }

  #projects #levelOne {
    margin-bottom: 33px;
  }

  #projects #levelOne #levelOneContainer {
    transform: scale(0);
  }

  #projects #levelOne.tapped #levelOneContainer {
    transform: scale(1);
  }

  #projects .project-stack {
    position: relative;
  }

  #projects .project-visual .project-stack-psuedo::after {
    position: absolute;
    inset: 0;

    content:'';

    background: url('../assets/images/cloudsabove.gif');
    box-shadow: 0 0 30px white;
    background-size: cover;
    border: 8px ridge rgba(255, 255, 255, 0.555);
    border-left: 8px ridge rgba(0, 0, 0, 0.647);
    border-right: 8px ridge rgba(0, 0, 0, 0.647);
    border-radius: inherit;

    opacity: 0;
    visibility: hidden;

    transform: scale(1);
    transition: all 0.33s ease-out;

    z-index: 0;
  }

  #projects .project-visual.inception .project-stack-psuedo::after {
    box-shadow: 0 0 30px skyblue;
    opacity: 1;
    visibility: visible;

    transform: scale(1.15);
  }
}

@media only screen and (min-width: 1024px) {
  /* TODO: figure out custom scroll bar interference with interectionObserver API for NAV key animations */
  /* @supports (scrollbar-color: linear-gradient(to bottom, silver, white, silver) rgb(44, 44, 44)) {
    * {
      scrollbar-color: linear-gradient(to bottom, silver, white, silver) rgb(44, 44, 44);
      scrollbar-width: thin;
    }
  }

  ::-webkit-scrollbar {
    height: 0;
    width: 0.38em;
  }

  ::-webkit-scrollbar-track {
    background:rgb(44, 44, 44);
    border-left: 2.2px ridge silver;
  }

  ::-webkit-scrollbar-thumb {
    border: 2.2px ridge silver;
    background: linear-gradient(to bottom, silver, white, silver);
    border-radius: 100vw;
  } */

  .section {
    margin-bottom: 88px;
  }

  .section .section-top {
    position: relative;

    background-color: var(--clr-bg-creamiest);
    margin-bottom: 88px;
    text-align: center;
    width: 77vw;
  }

  main .text-content-container p {
    padding: 0;
  }

  #hero .welcome > p,
  #hero .qotd p,
  #hero figcaption {
    /* border:2px solid red; */
    padding: 0 18vw;
  }

  #hero .welcome > p {
    text-align: start;
    margin-bottom: 18px;
  }
  
  #hero .qotd  p,
  #hero .qotd > figcaption {
    text-align: end;
  }

  #about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 55px;
    padding: 0 11vw;
  }

  #about #avatar-container {
    padding: 0;
  }

  #about .text-content-container {
    margin: 0 0 33px 0;
    padding: 0; 
  }

  #about .text-content-container:before {
    transform: scale(1.1, 1.12);
  }

  #about-content #stack {
    grid-column: 1 / end;
  }

  #projects .text-content-container {
    padding: 1.3em 3em;
  }

  #projects > *:not(.section-top) {
    padding: 0 3vw;
  }
}

@media only screen and (min-width: 1200px) {
  .text-content-container {
    margin: 0;
  }

  #projects #levelOne {
    margin-bottom: 18px;
  }

  #projects .project-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px;

    padding: 0 11vw;
  }

  #projects .project-description {
    width: 50%;
  }

  #projects .logo-stack {
    margin: 0;
  }

  #projects .text-content-container {
    padding: 2.5em 1.8em;
  }

  #projects #levelOne #levelOneContainer,
  #projects #levelOne #tapMeContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 13px;
  }

  #projects .project-visual #levelOne img {
    height: 55px;
    width: 55px;
  }

  #projects .project-stack {
    padding: 0;
  }

  #projects .project-visual.inception {
    transform: scale(1.18);
  }

  #projects .project-visual.inception {
    transform: scale(1.3) translateX(-35%);
  }
}

@media only screen and (min-width: 1400px) {
  #about #about-content,
  #projects .project-content {
    padding: 0 15vw;
  }

    #projects .text-content-container {
    margin: 0;
    padding: 1.8em 2.5em;
  }
}