@font-face {
  font-family: 'Gosha Sans Bold';
  src: url('../assets/fonts/GoshaSansBold.otf');
}

@font-face {
  font-family: 'Gosha Sans Regular';
  src: url('../assets/fonts/GoshaSansRegular.otf');
}